header.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url("../images/inspiration-geometry.png");
  background-color: #D99822;

  padding-top: 120px;
  height: 520px;
  width: 100vw;
}